* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color: #3498db;
}

.header {
  margin: 30px 0;
  text-align: center;
  color: #F5A623;
}

.site-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 600;
  font-style: italic;
  font-size: 66px;
}

.site-description {
  margin: 0 auto;
  max-width: 560px;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .site-content {
    display: flex;
    max-width: 1400px;
    justify-content: space-around;
  }
}

.code-title {
  text-align: center;
}

.code-snippet {
  overflow: auto;
  max-width: 640px;
  margin: 0 auto;
  padding: .2em .6em;
  background: #202020;
  border: solid gray;
  border-width: .1em .1em .1em .8em;
}

.container-title {
  margin: 20px 0 10px;
  font-size: 34px;
  font-weight: 100;
  text-align: center;
  color: #000000;
  text-decoration: underline;
}

@media (min-width: 600px) {
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  justify-content: center;
  align-items: center;
}

.container-a {
  background-color: #F5A623;
}

.container-b {
  background-color: rgb(191, 114, 186);
}

.box {
  width: 175px;
  height: 175px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  font-weight: 100;
}

.box:focus {
  outline-width: 6px;
}

.a {
  background-color: #5BFFE1;
}

.b {
  background-color: #FF8585;
}

.c {
  background-color: #FADA72;
}
