body {
  background-color: rgb(114, 163, 191);
}

.wrapper {
  display: flex;
}

.box {
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: rgb(175, 114, 191);
}

.a {
  background-color: DimGray;
}

.b {
  background-color: DarkSeaGreen;
}

.c {
  background-color: SaddleBrown;
}
